<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/home" class="logo">
            <img th:src="@{|/user/images/Solana.png|}" alt="">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li th:if="${session.UserCurrent != null}" th:text="${'WELCOME '+ session.UserCurrent.fullName}"> </li>
            <li><a href="/home" class="active">Home</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/author">Author</a></li>
            <li><a href="/createproject">Create Yours</a></li>
            <li><button onclick="transferSol()">connect</button></li>
            <li><button onclick="transferNft()">TransferNFT</button></li>
            <li th:if="${session.UserCurrent != null}">
              <button  onclick="connectWallet()">Connect Solana</button>
            </li>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#"
                 id="navbardrop" data-toggle="dropdown"> Information </a>
              <ul class="dropdown-menu">
                <li th:unless="${session.UserCurrent != null}"><a href="/login">Login</a></li>
                <li th:unless="${session.UserCurrent != null}"><a href="/register">Register</a></li>
                <li th:unless="${session.UserCurrent != null}"><a href="/forgot-password">Forgot Password</a></li>
                <li th:if="${session.UserCurrent != null}"><a href="/logout">Log Out</a></li>
                <li><button onclick="getAll()">Get PRoject NFT</button></li>
<!--                <li><input type="file" id="fileInput"></li>-->
<!--                <li><button onclick="mintNft()">bam tui di</button></li>-->
              </ul>
            </div>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
</body>
</html>