<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Start Up Tank</title>
  <meta name="author" content="templatemo">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link th:href="@{|/user/bootstrap/css/bootstrap.min.css|}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <!-- Additional CSS Files -->
  <link rel="stylesheet" th:href="@{|/user/css/fontawesome.css|}">
  <link rel="stylesheet" th:href="@{|/user/css/templatemo-liberty-market.css|}">
  <link rel="stylesheet" th:href="@{|/user/css/owl.css|}">
  <link rel="stylesheet" th:href="@{|/user/css/animate.css|}">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

</head>
<body>

</body>
</html>