<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">
            <img th:src="@{|/user/images/Solana.png|}" alt="">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="explore.html">Explore</a></li>
            <li><a href="details.html">Item Details</a></li>
            <li><a href="author.html">Author</a></li>
            <li><a href="/project">Create Yours</a></li>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#"
                 id="navbardrop" data-toggle="dropdown"> Information </a>
              <ul class="dropdown-menu">
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="forgot-password.html">Forgot Password</a></li>
                <li><a href="#">Log Out</a></li>

              </ul>
            </div>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
</body>
</html>