<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout.html :: dynamic(~{::main})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="main">

  <div class="item-details-page">
    <div class="container">
      <div class="row">

        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Upload <em>Your Job</em> Here.</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <form id="contact" action="/createproject" th:object="${project}" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col-lg-6">
                <fieldset>
                  <label for="title">JOB TITLE</label>
                  <input th:field="*{projectName}" type="title" name="title" id="title" placeholder="Ex. PROJECT #200" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <label for="description">JOB TYPE</label>
                  <select th:field="*{projectField.fieldId}" id="description">
                    <option th:each="i : ${projectfield}" th:value="${i.fieldId}" th:text="${i.fieldName}">
                    </option>
                  </select>

                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <label for="username">Date created</label>
               <!--   <input th:field="*{deadline}" type="date" name="username" id="username" placeholder=""
                         autocomplete="on" th:attr="value=${#dates.format(deadline, 'dd/MM/yyyy')}" required>-->
                  <input th:field="*{deadline}" type="date" name="username" id="username" placeholder=""
                         autocomplete="on"  required>

                </fieldset>
              </div>

              <div class="col-lg-6">
                <fieldset>
                  <label for="price">SOLANA </label>
                  <input th:field="*{fundingGoal}" type="price" name="price" id="price"
                         placeholder="The money you pay for your freelancer   Ex. 0.06 ETH" autocomplete="on" required>
                </fieldset>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Job description</label>
                  <textarea th:field="*{projectDescription}" class="form-control" id="exampleFormControlTextarea1"
                            placeholder="Give your freelancer the job details" rows="3"></textarea>
                </div>

              </div>

              <div class="col-lg-4">
                <br>
                <fieldset>
                  <label for="file">Your File</label>
                  <input type="file" id="file" name="image" accept="image/png, image/jpeg"/>
                </fieldset>
              </div>
              <div class="col-lg-8">
                <br>
                <fieldset>
                  <button type="submit" id="form-submit" class="orange-button">Upload Your Job</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>This Is <em>Your Job</em> Preview.</h2>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="left-image">
            <img src="assets/images/create-yours.jpg" alt="" style="border-radius: 20px;">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h4>Dolores Haze Westworld Eye</h4>
          <span class="author">
            <img src="assets/images/author-02.jpg" alt="" style="max-width: 50px; border-radius: 50%;">
            <h6>Kataleya Smithee<br><a href="#">@kataleey</a></h6>
          </span>
          <p>Lorem ipsum dolor sit amet, consectetu dipiscingei elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <div class="row">
            <div class="col-3">
              <span class="bid">
                Job Payout<br><strong>0.06 ETH</strong><br><em>($8055,35)</em>
              </span>
            </div>
            <div class="col-4">
              <span class="owner">
                Owner<br><strong>Alan Smithee</strong><br><em>(@asmithee)</em>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<script>
  // Lắng nghe sự kiện khi trường input thay đổi giá trị
  document.getElementById("username").addEventListener("change", function () {
    var inputDate = this.value;
    // Chuyển đổi từ "dd/MM/yyyy" sang "yyyy-MM-dd"
    var parts = inputDate.split("/");
    if (parts.length === 3) {
      var formattedDate = parts[2] + "-" + parts[1] + "-" + parts[0];
      this.value = formattedDate;
    }
  });

</script>-->
</body>
</html>