<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout.html :: dynamic(~{::main})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="main">
  <div class="item-details-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>View Details <em>For Item</em> Here.</h2>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="left-image">
            <img th:src="@{|/user/images/${project.projectImageUrl}|}" alt="" style="border-radius: 20px;">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h4 th:text="${project.projectName}"></h4>
          <h6 th:text="${project.user.walletAddress}" class="reciverKey" hidden></h6>
          <h6 th:text="${project.addressNft}" class="addressNft" hidden></h6>
          <span class="author">
            <img src="/user/images/author-03.jpg" alt="" style="max-width: 50px; border-radius: 50%;">
            <h6 th:text="${project.user.fullName}"><br><a href="#">@CLIENTTAG</a></h6>

          </span>
          <p  th:text="${project.projectDescription}"></p>
          <div class="row">
            <div class="col-3">
              <span class="bid">
                JOB PAYOUT<br><strong id="fundingGoal" class="fundingGoal" th:text="${project.fundingGoal}"></strong>
              </span>
            </div>

          </div>
     <!--     <div class="row">
            <div class="col-12">
              <span class="bid">
                JOB TAGS<br><strong>TAG1 TAG2 TAG3</strong>
              </span>
            </div>

          </div>-->
          <form action="submit">

            <button type="submit" id="form-submit" class="main-button">CONTACT CLIENT</button>
            <button type="button" class="main-button" data-toggle="modal" data-target="#exampleModalCenter">
              INVEST IN THIS PROJECT
            </button>
          </form>
        </div>
        <div class="col-lg-12">
          <div class="current-bid">

            <!---->
            <div class="row">
              <div class="col-lg-6">
                <div class="mini-heading">
                  <h4>SIMILAR JOBS LIKE THIS</h4>
                </div>
              </div>
              <div class="col-lg-6">

              </div>
              <div th:each="item:${pro}" class="col-lg-4 col-md-6">
                <div class="item">
                  <div class="left-img">
                    <img th:src="@{|/user/images/${item.projectImageUrl}|}" alt="">
                  </div>
                  <div class="right-content">
                    <h4 th:text="${item.projectField.fieldName}"></h4>
                    <a th:href="@{|/detail/${item.projectId}|}" th:text="${item.projectName}"></a>
                    <div class="line-dec"></div>
                    <h6>PAYOUT: <em th:text="${item.fundingGoal}"></em></h6>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <!--MODAL-->

  <div class="modal fade  modal-dark" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">

          </button>
        </div>
        <div class="modal-body">
          <h4 th:text="${project.projectName}"></h4>
          <br>
          <br>

          <div class="input-group mb-3">
            <h4 th:text="${project.user.fullName}"></h4>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          <form action="/buy-project" method="POST">

            <button type="button" class="btn btn-danger" onclick="transferSol()" id="buyButton">Invest in this Project</button>

          </form>
        </div>
      </div>
    </div>
  </div>
  <!--MODAL-->
</div>
</body>
</html>
<script>


</script>