<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout.html :: dynamic(~{::main})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="main">
  <div class="item-details-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>View Details <em>For Item</em> Here.</h2>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="left-image">
            <img src="assets/images/item-details-01.jpg" alt="" style="border-radius: 20px;">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h4>PROJECT <em>#1</em></h4>
          <span class="author">
            <img src="assets/images/author-03.jpg" alt="" style="max-width: 50px; border-radius: 50%;">
            <h6>CLIENT NAME<br><a href="#">@CLIENTTAG</a></h6>
          </span>
          <p>Lorem ipsum dolor sit amet, consectetu dipiscingei elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.</p>
          <div class="row">
            <div class="col-3">
              <span class="bid">
                JOB PAYOUT<br><strong>6.06 ETH</strong><br><em>($8,025.50)</em>
              </span>
            </div>

          </div>
          <div class="row">
            <div class="col-12">
              <span class="bid">
                JOB TAGS<br><strong>TAG1 TAG2 TAG3</strong>
              </span>
            </div>

          </div>
          <form action="submit">

            <button type="submit" id="form-submit" class="main-button">CONTACT CLIENT</button>
          </form>
        </div>
        <div class="col-lg-12">
          <div class="current-bid">

            <!---->
            <div class="row">
              <div class="col-lg-6">
                <div class="mini-heading">
                  <h4>SIMILAR JOBS LIKE THIS</h4>
                </div>
              </div>
              <div class="col-lg-6">

              </div>
              <div class="col-lg-4 col-md-6">
                <div class="item">
                  <div class="left-img">
                    <img src="assets/images/current-01.jpg" alt="">
                  </div>
                  <div class="right-content">
                    <h4>JOB TITLE #1</h4>
                    <a href="#">CLIENT NAME</a>
                    <div class="line-dec"></div>
                    <h6>PAYOUT: <em>0.06 ETH</em></h6>

                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="item">
                  <div class="left-img">
                    <img src="assets/images/current-02.jpg" alt="">
                  </div>
                  <div class="right-content">
                    <h4>JOB TITLE #2</h4>
                    <a href="#">CLIENT NAME</a>
                    <div class="line-dec"></div>
                    <h6>PAYOUT: <em>0.06 ETH</em></h6>

                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="item">
                  <div class="left-img">
                    <img src="assets/images/current-03.jpg" alt="">
                  </div>
                  <div class="right-content">
                    <h4>JOB TITLE #3</h4>
                    <a href="#">CLIENT NAME</a>
                    <div class="line-dec"></div>
                    <h6>PAYOUT: <em>0.06 ETH</em></h6>

                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="item">
                  <div class="left-img">
                    <img src="assets/images/current-04.jpg" alt="">
                  </div>
                  <div class="right-content">
                    <h4>JOB TITLE #4</h4>
                    <a href="#">CLIENT NAME</a>
                    <div class="line-dec"></div>
                    <h6>PAYOUT: <em>0.06 ETH</em></h6>

                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="item">
                  <div class="left-img">
                    <img src="assets/images/current-01.jpg" alt="">
                  </div>
                  <div class="right-content">
                    <h4>JOB TITLE #5</h4>
                    <a href="#">CLIENT NAME</a>
                    <div class="line-dec"></div>
                    <h6>PAYOUT: <em>0.06 ETH</em></h6>

                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="item">
                  <div class="left-img">
                    <img src="assets/images/current-02.jpg" alt="">
                  </div>
                  <div class="right-content">
                    <h4>JOB TITLE #6</h4>
                    <a href="#">CLIENT NAME</a>
                    <div class="line-dec"></div>
                    <h6>PAYOUT: <em>0.06 ETH</em></h6>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
</body>
</html>