<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout.html :: dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="main">
        <!-- ***** Main Banner Area Start ***** -->
        <div class="main-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="header-text">
                            <h6> SOLANA STARTUP</h6>
                            <h2>TALK, CRYPTO &amp; Work Best Payed Jobs.</h2>
                            <p> SOLANA STARTUP is a platform that connects potential investors with startup projects on the
                                Solana blockchain. It uses NFT technology to create tokens that represent the projects,
                                making it easy for users to find and evaluate potential
                                investments.
                            </p>
                            <div class="buttons">

                                <div class="main-button">
                                    <a href="/explore">Explore Top Jobs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="owl-banner owl-carousel">
                            <div class="item">
                                <img th:src="@{|/user/images/banner-01.png|}" alt="">
                            </div>
                            <div class="item">
                                <img th:src="@{|/user/images/banner-02.png|}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Main Banner Area End ***** -->
        <div class="categories-collections">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="categories">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section-heading">
                                        <div class="line-dec"></div>
                                        <h2>Browse Through Our <em>Categories</em> Here.</h2>
                                    </div>
                                </div>
                                <div th:each="item:${projectFields}" class="col-lg-2 col-sm-6">
                                    <div class="item">
                                        <div class="icon">
                                            <img th:src="@{|/user/images/${item.fieldImageUrl}|}" alt="">
                                        </div>
                                        <h4 th:text="${item.fieldName}"></h4>
                                        <div class="icon-button">
                                            <a th:href="@{|/explore?category=${item.fieldName}|}"><i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="collections">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section-heading">
                                        <div class="line-dec"></div>
                                        <h2>Explore Some Highly Intrested <em>Jobs</em> In Market.</h2>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="owl-collection owl-carousel">
                                        <div class="item" th:each="item:${projects}">
                                            <img th:src="@{|/user/images/${item.projectImageUrl}|}" alt="">
                                            <div class="down-content">
                                                <h4 th:text="${item.projectName}"></h4>
                                                <span class="collection">JOB PAYOUT:<br><strong th:text="${item.fundingGoal}"></strong></span>
                                                <span class="category">Category:<br><strong th:text="${item.projectField.fieldName}"></strong></span>
                                                <div class="main-button">
                                                    <a th:href="@{|/detail/${item.projectId}|}">Detail</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="currently-market">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-heading">
                            <div class="line-dec"></div>
                            <h2><em>Jobs</em> Currently In The Market.</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="filters">
                            <ul>
                                <li data-filter="*" class="active">All Items</li>
                                <li data-filter=".msc">Music Art</li>
                                <li data-filter=".dig">Digital Art</li>
                                <li data-filter=".blc">Blockchain</li>
                                <li data-filter=".vtr">Virtual</li>
                                <li data-filter=".vbe">Valuable</li>
                                <li data-filter=".nft">Triple NFT</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row grid">
                            <div th:each="itmsc:${msc}"  class="col-lg-6 currently-market-item all msc">
                                <div class="item">
                                    <div class="left-image">
                                        <img th:src="@{|/user/images/${itmsc.projectImageUrl}|}" alt=""
                                             style="border-radius: 20px; min-width: 195px;">
                                    </div>
                                    <div class="right-content">
                                        <h4 th:text="${itmsc.projectName}"></h4>
                                        <span class="author">
                                    <img th:src="@{|/user/images/author.jpg|}"  alt=""
                                         style="max-width: 50px; border-radius: 50%;">
                                    <h6>Liberty Artist<br><a href="#" th:text="${itmsc.user.fullName}"> </a></h6>
                                </span>
                                        <div class="line-dec"></div>
                                        <span class="bid">
                                    JOB PAYOUT<br><strong>2.03 ETH</strong><br><em th:text="${itmsc.fundingGoal}"></em>
                                </span>

                                        <div class="text-button">
                                            <a th:href="@{|/detail/${itmsc.projectId}|}">View Item Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:each="itmsc:${dig}"  class="col-lg-6 currently-market-item all dig">
                                <div class="item">
                                    <div class="left-image">
                                        <img th:src="@{|/user/images/${itmsc.projectImageUrl}|}" alt=""
                                             style="border-radius: 20px; min-width: 195px;">
                                    </div>
                                    <div class="right-content">
                                        <h4 th:text="${itmsc.projectName}"></h4>
                                        <span class="author">
                                    <img th:src="@{|/user/images/author.jpg|}"  alt=""
                                         style="max-width: 50px; border-radius: 50%;">
                                    <h6>Liberty Artist<br><a href="#" th:text="${itmsc.user.fullName}"> </a></h6>
                                </span>
                                        <div class="line-dec"></div>
                                        <span class="bid">
                                    JOB PAYOUT<br><strong>2.03 ETH</strong><br><em th:text="${itmsc.fundingGoal}"></em>
                                </span>

                                        <div class="text-button">
                                            <a th:href="@{|/detail/${itmsc.projectId}|}">View Item Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:each="itmsc:${blc}"  class="col-lg-6 currently-market-item all blc">
                                <div class="item">
                                    <div class="left-image">
                                        <img th:src="@{|/user/images/${itmsc.projectImageUrl}|}" alt=""
                                             style="border-radius: 20px; min-width: 195px;">
                                    </div>
                                    <div class="right-content">
                                        <h4 th:text="${itmsc.projectName}"></h4>
                                        <span class="author">
                                    <img th:src="@{|/user/images/author.jpg|}"  alt=""
                                         style="max-width: 50px; border-radius: 50%;">
                                    <h6>Liberty Artist<br><a href="#" th:text="${itmsc.user.fullName}"> </a></h6>
                                </span>
                                        <div class="line-dec"></div>
                                        <span class="bid">
                                    JOB PAYOUT<br><strong>2.03 ETH</strong><br><em th:text="${itmsc.fundingGoal}"></em>
                                </span>

                                        <div class="text-button">
                                            <a th:href="@{|/detail/${itmsc.projectId}|}">View Item Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:each="itmsc:${vtr}"  class="col-lg-6 currently-market-item all vtr">
                                <div class="item">
                                    <div class="left-image">
                                        <img th:src="@{|/user/images/${itmsc.projectImageUrl}|}" alt=""
                                             style="border-radius: 20px; min-width: 195px;">
                                    </div>
                                    <div class="right-content">
                                        <h4 th:text="${itmsc.projectName}"></h4>
                                        <span class="author">
                                    <img th:src="@{|/user/images/author.jpg|}"  alt=""
                                         style="max-width: 50px; border-radius: 50%;">
                                    <h6>Liberty Artist<br><a href="#" th:text="${itmsc.user.fullName}"> </a></h6>
                                </span>
                                        <div class="line-dec"></div>
                                        <span class="bid">
                                    JOB PAYOUT<br><strong>2.03 ETH</strong><br><em th:text="${itmsc.fundingGoal}"></em>
                                </span>

                                        <div class="text-button">
                                            <a th:href="@{|/detail/${itmsc.projectId}|}">View Item Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:each="itmsc:${vbe}"  class="col-lg-6 currently-market-item all vbe">
                                <div class="item">
                                    <div class="left-image">
                                        <img th:src="@{|/user/images/${itmsc.projectImageUrl}|}" alt=""
                                             style="border-radius: 20px; min-width: 195px;">
                                    </div>
                                    <div class="right-content">
                                        <h4 th:text="${itmsc.projectName}"></h4>
                                        <span class="author">
                                    <img th:src="@{|/user/images/author.jpg|}"  alt=""
                                         style="max-width: 50px; border-radius: 50%;">
                                    <h6>Liberty Artist<br><a href="#" th:text="${itmsc.user.fullName}"> </a></h6>
                                </span>
                                        <div class="line-dec"></div>
                                        <span class="bid">
                                    JOB PAYOUT<br><strong>2.03 ETH</strong><br><em th:text="${itmsc.fundingGoal}"></em>
                                </span>

                                        <div class="text-button">
                                            <a th:href="@{|/detail/${itmsc.projectId}|}">View Item Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:each="itmsc:${nft}"  class="col-lg-6 currently-market-item all nft">
                                <div class="item">
                                    <div class="left-image">
                                        <img th:src="@{|/user/images/${itmsc.projectImageUrl}|}" alt=""
                                             style="border-radius: 20px; min-width: 195px;">
                                    </div>
                                    <div class="right-content">
                                        <h4 th:text="${itmsc.projectName}"></h4>
                                        <span class="author">
                                    <img th:src="@{|/user/images/author.jpg|}"  alt=""
                                         style="max-width: 50px; border-radius: 50%;">
                                    <h6>Liberty Artist<br><a href="#" th:text="${itmsc.user.fullName}"> </a></h6>
                                </span>
                                        <div class="line-dec"></div>
                                        <span class="bid">
                                    JOB PAYOUT<br><strong>2.03 ETH</strong><br><em th:text="${itmsc.fundingGoal}"></em>
                                </span>

                                        <div class="text-button">
                                            <a th:href="@{|/detail/${itmsc.projectId}|}">View Item Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>